# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Environment Variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
logs/
*.log

# Models
saved_models/*.h5
saved_models/*.pkl

# Testing
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# SQLAlchemy
*.db

# TensorFlow
*.keras

# Temporary Files
*.tmp
*.temp